<!DOCTYPE html>
<html lang="en">
    {% include 'head_links.html' %}
    <body class="sb-nav-fixed">

        {% include 'header.html' %}

        <div id="layoutSidenav">

            {% include 'sidebar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <br><br>
                    <div class="container px-4 ">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Disease's
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Disease</th>
                                            <th>Medicine</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Disease</th>
                                            <th>Medicine</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for x in data %}
                                        <tr>
                                            <td>{{x[1]}}</td>
                                            <td>{{x[2]}}</td>
                                            <td>
                                                <a href="{{url_for('add_combination', id=x[0]) }}" style="all:unset; cursor: pointer; color: black;"> <i class="fas fa-edit"></i> </a> &nbsp; &nbsp;
                                                <a href="{{url_for('del_combination', id=x[0]) }}" style="all:unset; cursor: pointer;"> <i class="fas fa-trash"></i> </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               {% include 'footer.html'%}
    </body>
</html>
