<!DOCTYPE html>
<html lang="en">
    {% include 'head_links.html' %}
    <body class="sb-nav-fixed">

        {% include 'header.html' %}

        <div id="layoutSidenav">

            {% include 'sidebar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <br><br>
                    <div class="container px-4 ">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Appointments
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Department</th>
                                            <th>Message</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Department</th>
                                            <th>Message</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for x in data %}
                                        <tr>
                                            <td>{{x[3]}}</td>
                                            <td>{{x[1]}}</td>
                                            <td>{{x[2]}}</td>
                                            <td>{{x[4]}}</td>
                                            <td>{{x[5]}}</td>
                                            <td>{{x[7]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               {% include 'footer.html'%}
    </body>
</html>
