<!DOCTYPE html>
<html lang="en">
    {% include 'head_links.html' %}
    <body class="sb-nav-fixed">

        {% include 'header.html' %}

        <div id="layoutSidenav">

            {% include 'sidebar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <br><br>
                    <div class="container px-4 ">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Patient record
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Patient Type</th>
                                            <th>Address</th>
                                            <th>Contact</th>
                                            <th>Age</th>
                                            <th>Docs</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Patient Type</th>
                                            <th>Address</th>
                                            <th>Contact</th>
                                            <th>Age</th>
                                            <th>Docs</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for x in data %}
                                        <tr>
                                            <td>{{x[1]}}</td>
                                            <td>{{x[2]}}</td>
                                            <td>{{x[6]}}</td>
                                            <td>{{x[3]}}</td>
                                            <td>{{x[4]}}</td>
                                            <td>{{x[5]}}</td>
                                            <td>
                                            {% if x[17] %}
                                            <form action="/send_file" method="POST">
                                                <input name="file_name" type="text" value=" {{x[17]}} " hidden>
                                               <button style="all: unset; color: blue;  -webkit-text-fill-color: blue; cursor: pointer;" type="submit"> {{x[17]}} </button>
                                            </form>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               {% include 'footer.html'%}
    </body>
</html>
